<!DOCTYPE html>
<html>
<meta property="csp-nonce" content="{{ styleNonce }}">
<head>
  <title>anomic</title>
  <!-- Page Contents -->
</head>
<body>
  <h6>{{title}}</h6>
  <iframe id="youtubeplayer" class="video w100" width="170" height="140" src="//www.youtube.com/embed/{{videoid}}" frameborder="0" allowfullscreen></iframe>
</body>
</html>
<script src="app.js"></script>
<script src="io.js"></script>
<script src="streaming.js"></script>
<script src="janus.js"></script>
