<!DOCTYPE html>
<html>
<meta property="csp-nonce" content="{{ styleNonce }}">
<head>
  <title>anomic</title>
  <!-- Page Contents -->
</head>
<body>
  {{{body}}}
  <h2>{{title}}</h2>
  <iframe class="video w100" width="130" height="170" src="//www.youtube.com/embed/{{videoid}}" frameborder="0" allowfullscreen></iframe>
</body>
</html>
