<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta property="csp-nonce" content="<%= styleNonce %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"id="semthemecss">
      <link rel="stylesheet" type="text/css" href="css/indextheme.css" id="themecss">
      <link rel="stylesheet" type="text/css" href="css/iso_bootstrap3.3.7min.css">
        <script src="./node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="js/purify.js"></script>
        <script type="text/javascript" src="js/adapter.min.js"></script>
      <script type="text/javascript" src="js/jquery.blockUI.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/bootbox.min.js"></script>
      <script type="text/javascript" src="js/toastr.min.js"></script>
  <title>anomic - chat online</title>
  <h3 class="ui tiny center aligned icon header">
  <i class="ui tiny circular user secret icon"></i>
</h3>
</head>
<body>
  

  <div class="ui rail internal right"id="copywrapper">
  <div class="ui action input" id="inputwrapper">
  <input type="text" value='<%- JSON.stringify(url)%>'>
  <button class="ui teal right labeled icon button" id="cpybutton">
    <i class="copy icon"></i>
    Copy
  </button>
</div>
</div>
  <div class="ui mini basic test modal">
    <div class="ui large icon header">
      <i class="user secret icon"></i>
      enter a username.
    </div>
    <div class="content">
      <div class="field">
        
        <div class="ui big form">
  <div class="field">
    <div class="field">      <div class="five column doubling ui grid">
      <input placeholder="Username" type="text" name="username">
    </div>
  </div>
</div>
    </div>
    </div>
    <div class="actions">
      <div class="ui basic segment"></div>
      <div class="ui large centered red basic cancel inverted button">
        <i class="centered remove icon"></i>
        NVM
      </div>
      <div class="ui large centered green ok inverted button" id="okinvert" action="submit">
        <i class="centered checkmark icon"></i>
        OK
      </div>
    </div>
  </div>
</div>

<div class="ui fixed attached vertical labeled icon gray menu" id="attachmenu">
  <a href="/home">
      <div class="ui basic segment">
      <span class="ui button"><h5><i class="ui home icon"></i></h5></span>
      </div>
  </a>
  <div class="ui basic segment">
  </div>
  <div class="ui basic segment">
  </div>
  <div class="ui basic segment">
  </div>
  <div class="ui basic segment">
  </div>
  <a class="item">
    <i class="users icon"></i>
  </a>
  <a class="item">
    <i class="paint brush icon"></i>
  </a>
  <a class="item">
    <i class="video camera icon"></i>
    <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
        </div>
      </div>
  </a>
  <a class="item">
    <i class="video play icon"></i>
    <div class="inline field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
        </div>
      </div>
  </a>
  <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
    <div class="ui basic segment"></div>
      <div class="ui basic segment"></div>
  <a class="item">
      <br>
      <i class="ui exchange alternate icon"></i>
    <div class="inline field">
        <div class="ui lightbulb icon">
          <input type="checkbox" tabindex="0" class="hidden"id="themechanger">
        </div>
      </div>
  </a>
<!-- Chat Template -->
  </div>
  <div class="ui container">
    <div class="ui stackable grid">
        <div class="ui icon buttons" id="btnplacement">
          <button id="publish" class="ui inverted green button">Broadcast&nbsp; &nbsp; <i class="camera icon"></i></button>
        </div>
        <div class="ui icon buttons">
        <button class="ui teal secondary button"id="mediasettings">Media Settings&nbsp; &nbsp; <i class="cogs icon"></i></button> 
        </div>
      </div>
                  


<div class="bootstrap">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			</div>
			<div class="container" id="details">
				<div class="row">
					<div class="col-md-12">
					</div>
				</div>
			</div>
      <input type="submit"><button class="ui large button"id="newroombtn">CREATE</button>
      <input class="ui form large" type="text" id="a" value="roomnamer" name="b" />
    </input>
      
      
<div class="ui button" id="start"></div>
			<div class="container hide" id="videos">
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">
									<div class="btn-group btn-group-xs pull-right">
										<div class="btn-group btn-group-xs">
											<button id="bitrateset" autocomplete="off" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
												Bandwidth<span class="caret"></span>
											</button>
											<ul id="bitrate" class="dropdown-menu" role="menu">
												<li><a href="#" id="0">No limit</a></li>
												<li><a href="#" id="128">Cap to 128kbit</a></li>
												<li><a href="#" id="256">Cap to 256kbit</a></li>
												<li><a href="#" id="512">Cap to 512kbit</a></li>
												<li><a href="#" id="1024">Cap to 1mbit</a></li>
												<li><a href="#" id="1500">Cap to 1.5mbit</a></li>
												<li><a href="#" id="2000">Cap to 2mbit</a></li>
											</ul>
										</div>
									</div>
								</h3>
							</div>
							<div class="panel-body" id="videolocal"><div id="usercam"></div></div>
             </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span class="label label-info" id="remote1"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote1"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span class="label label-info" id="remote2"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote2"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span class="label label-info" id="remote3"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote3"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span class="label label-info" id="remote4"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote4"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title"><span class="label label-info" id="remote5"></span></h3>
							</div>
							<div class="panel-body relative" id="videoremote5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="footer">
	</div>

            <div class="youtubewrapper">
              <div class="ui top attached icon buttons" id="youtube-buttons">
                <button class="ui youtube button">
                <i class="youtube icon"></i>
                YouTube
              </button>

                <button class="ui button">
                  <i class="pause icon"></i>
                  Pause
                </button>

                <button class="ui button">
                  <i class="play icon"></i>
                  Play
                </button>

                <button class="ui button">
                  <i class="shuffle icon"></i>
                  Shuffle
                </button>
            </div>
          </div>
        </div>

</div>
            <!-- Local Camera -->
          
        

          <!-- Chat Room Messages -->
  <!-- TEMPLATES -->
  <!-- Remote Video Template -->
  

  
  <div class="ui right attached internal rail" id="chatrail">
        <div id="draggable">
          <div id="chatbox"class="ui divider">
            <br>          <div id='scrollable'>
    	<div id="conversation">
              <div id="sanitized"></div>
    </div></div>
        <div class="ui input focus" id="inputfocus" maxlength="128">
        <input autofocus id="data"class="content" autocomplete="off"/>
    <input class="ui button grey" type="button" id="datasend" value="send">
    </div>
  </div>
</div>
</div>
<div id="hell0">
</div>
<div id="list">
  <div id="totalOnline">
    <div id="scrl1">
    </div>
  </div>
</div>
<div id="scrl2">
</div>
<div id="messages">
</div>

<div id="noChat">
</div>

<div id="typing"></div>

<div id="frndName"></div>
<div id="loading"></div>
<div id="initMsg"></div>
<div id="chatForm"></div>
  <!-- Scripts -->
  
  <script src="js/io.js"></script>
  <script id="chat-template" type="text/x-handlebars-template">  </script>
  <script src="https://www.webrtc-experiment.com/Canvas-Designer/canvas-designer-widget.js"></script>
  <script id="chat-content-template" type="text/x-handlebars-template"></script>
  <script src="js/transin.js"></script>
  <script src="js/transout.js"></script>
  <script src="semantic/dist/semantic.min.js"></script>
  <script src="scripts/handlebars/dist/handlebars.min.js "></script>
  <script src="js/usercheck.js"></script>
  <script src="js/app.js"></script>
  <script src="libs/gen.js"></script>
  <script src="./janus.js"></script>
  <script src="js/scriptForChat.js"></script>
  <script src="./videoroom.js"></script>
  </div>
  </div>
</body>
</html>
