<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="../dist/semantic.min.js"></script>
  <script src="../dist/semantic.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/login.css">
  <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/logincss.css">

  <script src="../dist/components/form.js"></script>
  <script src="../js/login.js"></script>
  <title>anomic.io - Online Video & Text Chatrooms! - Login</title>
  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
  </div>
  
  
  <!-- Page Contents -->
  <div class="pusher">
    <div id="background"></div>
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui padded container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a href="/home" class="active item">home</a>
          <a class="item">about</a>
          <div class="right item">
            <a href="/users/login" class="ui inverted button">log in</a>
            <a href="/users/register" class="ui inverted button"id="signup">sign up</a>
          </div>
        </div>
      </div>
  </div>
</head>
<body>
  

<div class="ui padded middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <i class="keyboard icon"></i>
      <div class="content">
        log-in to your account
      </div>
    </h2>
    <form class="ui large form" action="/users/login" method="POST">
      <div class="ui stacked segment"id="seg">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="name" name="name" id="name" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="password" placeholder="Password">
          </div>
        </div>
        <div class="ui large green inverted submit button"id="submitbtn">Login<i class="right arrow icon"></i></div>
        <br>
        <br>
                <span class="ui white text"id="forgotpw">Forgot your password? Reset it by clicking here</span>
      </div>
      <div class="ui error message"></div>

    </form>
    
      <div class="ui horizontal divider">
    Or
  </div>
  <a href="/register" class="ui labeled icon black button"id="create">
    CREATE NEW ACCOUNT
    <i class="add icon"></i>
  </a>
  <br>
  <br> 
  <img id="side1"src="images/send1.png"/>
    <img id="side2"src="images/mask2.png"/>
  <img src="images/twitterbtn.png" id="tweetbtn" />
  <img src="images/facebookbutton.png" id="fbbtn" />
    <script src="../js/transin.js"></script>
    <script src="../js/transout.js"></script>
    <script src="./js/room.js"></script>
</body>

</html>
