<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <main>

    <p>Notifications</p>
    <p> <%= msg %> </p><br>
    <p> <%= status %> </p><br>
    <p> <%= error %> </p><br>

  </main>

</body>
</html>
