<!DOCTYPE html>
<html>
<head>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="../dist/semantic.css">
      <link rel="stylesheet" type="text/css" href="./css/register.css">
      <link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
      <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- Site Properties -->
  <script src="../dist/semantic.js"></script>
  <script src="../dist/components/form.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/logincss.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/reset.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/site.css">

  <link rel="stylesheet" type="text/css" href="../dist/components/container.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/grid.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/header.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/image.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/menu.css">

  <link rel="stylesheet" type="text/css" href="../dist/components/divider.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/segment.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/form.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/input.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/button.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/list.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/message.css">
  <link rel="stylesheet" type="text/css" href="../dist/components/icon.css">
  <title>anomic.io - Online Video & Text Chatrooms! - Registration</title>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Login</a>
    <a class="item">Signup</a>
  </div>
  
  
  <!-- Page Contents -->
  <div class="pusher">
    <div id="background"></div>
    <div class="ui inverted vertical masthead center aligned segment">
  
      <div class="ui padded container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a href="/home" class="active item">home</a>
          <a class="item">about</a>
          <div class="right item">
            <a href="/users/login" class="ui inverted button">log in</a>
            <a href="/users/register" class="ui inverted button">sign up</a>
          </div>
        </div>
      </div>
  </div>
</head>
<body>

<div class="ui middle padded aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <i class="inverted users icon"></i>
      <div class="content">
        create an account
      </div>
    </h2>
    <form class="ui large form" action="/users/register"method="POST">
      <img id="side1"src="images/send1.png"/>
        <img id="side2"src="images/mask2.png"/>
      <div class="ui stacked segment"id="seg">
        <div class="field">
          <div class="ui left icon input">
            
            <i class="mail icon"></i>
            <input class="text-input" type="text" name="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input class="text-input" type="text" name="name" id="name" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input = "text-input" type="text" type="password" name="password" id="password" placeholder="Password">
          </div>
        </div>
        <h6><p id="terms">By accessing this website you hereby accept the User Terms & Conditions and Privacy Agreement, located <a href="/terms">here.</a></p>
          <br>
        <p id="conditions">These terms and conditions outline the rules and regulations for the use of anomic.io.</p></h6>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox" id="chk">
          </div>
        </div>
        <div class="ui large inverted green submit button"id="submitbtn">
          Create my account<i class="right arrow icon"></i></div>
      </div>

      <div class="ui error message"></div>

    </form>
    
      <div class="ui horizontal divider"id="divid">
    Or
  </div>
  <a href="/users/login" class="ui labeled icon button" id="login">
    LOGIN TO EXISTING ACCOUNT
    <i class="add icon"></i>
  </a>
  <br>
  <br>
  <br>
            <span class="ui medium white text"id="reset"><a>Forgot your account password? Reset it here</a></span>
</div>
</div>
</div>
<!-- <div class="left aligned ui grid"> -->
  <!-- <div class="ten wide left aligned column"> -->
<div class="ui teal icon message medium"id="mailto"></div>
<!-- <i class="inbox icon"></i>
<div class="content">
<div class="header">
  Have you heard about our mailing list?
</div>
<p>We'll send you all the updates.</p>
</div> -->
</div>
<script src="../js/transin.js"></script>
</body>


<script src="./js/toastmsg.js"></script>
</html>
