  body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(174,0,193,0.742734593837535) 100%, rgba(0,212,255,1) 100%);
color:white;
  }
  

  h2 {
    text-shadow: 1px 1px #000000;
    line-height:1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-kerning: auto;
    writing-mode: horizontal-tb;
  }
  body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 450px;
  }
  
  #logosrc {
    bottom:66%;
    position:sticky;
    width:auto;
    height:25vmin;
  }
  
  *, *:before, *:after { box-sizing: border-box; }
  
  @-webkit-keyframes scrollBad {
    0% { background-position: -232442px 120; }
    100% { background-position: -10px 222222px; }
  }
  @keyframes scrollBad {
    0% { background-position: -22222px 102; }
    100% { background-position: -120px 22222px; }
  }
  @-webkit-keyframes scrollGood {
    0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    100% { -webkit-transform: translate3d(0, -1px, 0); transform: translate3d(0, -1px, 0); }
  }
  
  @keyframes scrollGood {
    0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    100% { -webkit-transform: translate3d(0, -320px, 0); transform: translate3d(0, -320px, 0); }
  }
  
  
  .pen {box-shadow: -22px 0 22px -55px rgba(200,0,0,0.5);background-color: #090947;
background-image: linear-gradient(11deg, #090947 0%, #5a585a 74%);
 position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; }
  
  .panel { padding: 5rem; 
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);


    margin:0px;
    box-shadow: 1px 1px 1px 4px #1dd1c2;
    opacity:0.8;
    height: 100%; 
    width:100%;
    z-index:9999;
    position:fixed;
  }

p {
  text-align:center;
}


#four {
  font-weight:900;
  top:3em;
  font-size:48pt;
  position:sticky;
  text-align:center;
}
  .top {
  
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);


    background-image: url("../avatars/sadtheatermasks.jpg");
    background-position: center center;
    background-size: 444px;
    background-width:100%;
    -webkit-animation: scrollBad 700s linear infinite;
    animation: scrollBad 700s linear infinite;
    opacity:0.05;
    box-shadow: 1px 0 1px -5px rgba(200,0,115,0.5);
    transform: scaleX(1.1) skewX(4deg);
  }
  
  .bottom {background-color: #461220;
background-image: linear-gradient(315deg, #461220 0%, #e0d4ae 74%);


    background-color: #31CC70;
    overflow: hidden;
    position: relative;
    transform:scale(1.1);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  $white : white;
  
  html, body {
   font-family: 'Baloo Bhai', cursive; 
   height: 100%;
  }
  
  .title {
    position: relative;
    z-index: 999;
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    h1 {
      color: $white;
      font-size: 3vw
    }
  }
  .emoji {
    background: none;
    text-decoration: none;
    position: fixed;
    font-size: 2vw;
    animation: fadeIn 0.3s ease-in;
  }
  .fadeOut {
    animation: fadeOut 0.3s ease-in;
  }


  h1 {
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    z-index: 2;
  }
