@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
  body { visibility:hidden !important;
        color:black;
        position:absolute;
        background-repeat: no-repeat !important;
        background-position: center !important;
        height:100%!important;
        width:100%!important;
        display:block!important;
        z-index:-1;
        background-color: #000000;
        background-image: linear-gradient(315deg, #FFFFFF 0%, #414141 74%);
        background-size:cover;
        margin-top:-2em;
         -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
         box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
  }
    .hidden.menu {
      display: none;
            color:black;
    }
    #seg7 {
      margin-top:20%;
    }

    html {
      min-height: 100%;
      background: #B8BEB4;
      background: radial-gradient(#B8BEB4, #71685F);
      background-size: cover;
    }
    
    .triangle {
      clip-path: url(#clip);
      width: 25vw;
      height:25vw;
      max-height: 75vh;
      max-width: 75vh;
      background-size: cover;
      background-blend-mode: screen;
      position: absolute;
      float:left;
      left:50%;
      top:25%;
      margin-left:-12.5vw;
    }
    
    
    .first {
      background-color: #C5075C;
      background-image: url("giphy2.webp");
      
     transform: translateX(-65%) translateY(-50%);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     position:absolute;

    }
    
    .second {
      background-color: #03B897; 
      background-image: url("200.gif");
      opacity: 0.8;
    }
    

    #background {
      position:fixed;
      background-repeat: no-repeat !important;
      background-position: center !important;
      height:100%!important;
      width:100%!important;
      display:block!important;
      z-index:-21;
      background-color: #090b11;
      background-size:cover;
      overflow: hidden;
      opacity:0.9;
      width:auto;
       background-attachment: fixed;
       -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
       box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
    }

    /* .line-1{
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);    
  }
  
  /* Animation */
  .anim-typewriter{
    position:absolute;
    left:42.5%;
    font-family: 'Changa';
    font-size:36px;
    font-weight:100;
    -webkit-animation: typewriter 5s steps(44) 1s 0.4 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
               animation: typewriter 5s steps(44) 1s 0.4 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @-webkit-keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @-webkit-keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  } */

    
    #background2 {
      position:fixed;
      background-repeat: no-repeat !important;
      background-position: center !important;
      height:100%!important;
      width:100%!important;
      display:block!important;
      background-color: #121212;
      background-size:cover;
      overflow: hidden;
      opacity:0.12;
      z-index:-20;
    }

    /* #background4 {
      position:absolute;
      background-repeat: no-repeat !important;
      background-position: center !important;
      height:100%!important;
      width:100%!important;
      display:block!important;
      background-color: #33000E;
      background-size:cover;
      overflow: hidden;
      opacity:0.52;
      z-index:-11;
      top:100%;
    } */

    #itemswrapping {
     
      position:relative;
      top:35rem;
    }

    .row {
      position:absolute;
      top:115%;
      width: 100%;
      text-align: center; // center the content of the container
      
    }
    
    .block {
      width: 320px;
      display: inline-block; // display inline with ability to provide width/height
      text-shadow: 1px 1px 1px #000000;
      font-family: 'Lato', sans-serif;
      font-weight:900;
      font-size:26px;
      z-index:9999;
      color:white;
    }​


    .ui.centered.image {
    width:200px;
    height:150px;
    border-radius:30px;
    padding:10px;  
    }
    .masthead.segment {
      min-height:750px!important;
      padding: 1em 0em;
      background-repeat: no-repeat !important;
      background-position: center !important;
      color:white;
      /* opacity:0; */
    }
    #lemur1 {
    width:10vw;
    height:auto;  
    position:absolute;
    left:10em;
    }

    h1 {
  text-shadow: 0 0 1px #ff00fe, 0 0 1px #00ffff;
  animation: glitch 2505ms infinite;
  animation-delay:2000ms;
  margin: 40px auto;
  text-align: center;
  font-size: 38px;
  font-family: sans-serif;
  filter: blur(10);
}

@keyframes glitch {
  0% {
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  20% {
    opacity: 1;
  }
  20.5% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  30% {
    color: white;
    transform: skew(0);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  30.5% {
    color: #00ffff;
    transform: skew(50deg);
    text-shadow: -5px 0 0 #ff00fe, 5px 0 1px #00ffff;
  }
  31% {
    color: gray;
    transform: skew(0);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  80% {
    transform: skew(0);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  80.5% {
    transform: skew(-50deg);
    text-shadow: -30px -10px 5px #ff00fe, 30px 10px 5px #00ffff;
  }
  81% {
    transform: skew(0);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  95% {
    transform: skew(0deg);
    filter: blur(0);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  95.5% {
    transform: skew(50deg);
    filter: blur(50px);
    text-shadow: 5px 5px 5px #ff00fe, 0 5px 5px #00ffff;
  }
  96% {
    filter: blur(0);
    transform: skew(0deg);
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
  100% {
    text-shadow: 0 0 0 #ff00fe, 0 0 0 #00ffff;
  }
}

      #rightlabel{
      background-color:#4636b3;
      width:30vw;
      height:13vh;
      top:41em;
      right:15em;
      position:absolute;
      margin:0 auto;
      text-align:center;
      border-radius:88px;
      -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
      box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
    }
    #leftlabel{
      background-color:#4636b3;
      width:30vw;
      height:24vh;
      top:11em;
      left:7em;
      position:absolute;
      margin:0 auto;
      text-align:center;
      border-radius:88px;
      -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
      box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
    }
    
    #leftlabel0{
      background-color:#4636b3;
      width:30vw;
      height:10.5vh;
      top:14em;
      left:15em;
      position:absolute;
      margin:0 auto;
      text-align:center;
      border-radius:88px;
      -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
      box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
    }
    
    
    #innertx {
      font-size:26px;
      font-weight:300;
      color:white;
      margin-top:1em; 
      text-shadow: 4px 4px 4px #474747;
font-family: 'Changa', sans-serif;
    }
    
    #innertx1 {
      font-size:22px;
      font-weight:1200;
      color:black;
      margin-top:1em; 
      text-shadow: 4px 4px 4px #474747;
font-family: 'Changa', sans-serif;
    }
/*     
    #btnwrapper {
      display:block;
    }

    #threebtn {
      color:black;
    } */

    #homebtn {
    width:1.25vw;
    height:auto;
    z-index:9999;
    opacity:0.95;
    margin-left:0.35em;
    position:relative;
    left:5.75%;
    top:0.25em;
    }
    
    #mask1 {
      position:absolute;
      width:7em;
      bottom:-60em;
      left:3em;
      height:auto;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
        opacity:0.25;
    }
    
    #send1 {
      position:absolute;
      width:9em;
      bottom:-11em;
      right:1em;
      height:auto;
      opacity:0.25;
    }
    #chatsicon {
    padding:1em;
    }
    #appstore {
      width:8vw;
      height:auto;
      left:0;
      bottom:0;
      position:fixed
    }
    #description{
    position:relative;
    top:0.45em;
    text-align:center;  
    font-size:60px;
    font-weight:900;
    color:white;
    text-shadow: 2px 2x 2px #474747;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.0525em;
    }
    
    #threebtn {
      width:100%;
      text-align:center;
      min-width:43.5vw;
      max-width:45.5vw;
      left:26.85%;
      padding-top:5em;
      padding-bottom:10em;
      position:relative;
    }
    
    #description2{
    text-align:center;  
    font-size:32px;
    font-weight:1200;
    color:black;
    margin-top:1em;
    text-shadow: 4px 4px 4px #474747;
    font-family: 'Changa', sans-serif;
    }
    
    #roomspace {
      width:10%;
    }
    
    #rightlabelroom{
    background-color: #303030;
    width:auto;
    max-width:33vw;
    min-height:42.5vh;
    margin:0 auto;
    text-align:center;
    border-radius:11px;
    padding:20px;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65); 
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.65);
  }
  
  
  #grid {
  width:60vw;  
  }
    

    
    #logotext {
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Fredoka One';
    font-style:cursive;
    font-weight:750;
    font-size:20px;
    letter-spacing: 0.0725em;
    z-index:9999;
    color:white;
    left:1em;
    top:0.5em;
    position:absolute;
    }
    
    a.item {
      white-space: nowrap;
      overflow-x:hidden;
      overflow-y:hidden;
    }
    
    #itemwrap {
      position:absolute;
      top:0;
      right:0;
      margin:0;
      padding:1rem;
    }

    #texthead4 {
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Changa', sans-serif;
    font-weight:800;
    font-size:20px;
    z-index:9999;
    letter-spacing: 0.0725em;
    color:#F0EAD6;
    display:inline-block;
    }

    
    #texthead5 {
      text-shadow: 1px 1px 1px #000000;
      font-family: 'Changa', sans-serif;
      font-weight:800;
      font-size:20px;
      z-index:9999;
      letter-spacing: 0.0925em;
      color:#F0EAD6;
      
      }
    
    #join-btn {
      position:relative;
        top:260px;
      display:none;
    }
    .masthead .logo.item img {
      margin-right: 1em;
      
    }
    
    #chatheader {
    margin-top:25vw;  
    color:white;
    text-transform:uppercase;
    }
    
    a {
    color:white!important;  
    }
    
    #segmen {
      height:255px;
    }
    a:hover {
    color:white!important;  
    }
    #roomsseg {
      color:white!important;   
      padding:25px;
      font-size:14px;
            background-image: linear-gradient(115deg, #8c51e8 0%, #1a0043 77%)!important;
            border-radius:20px;
            text-shadow: 4px 4px 4px #474747;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    #gradpanel{
      /* background-image:  */
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 105%;
      background-color: #161221;
      border-bottom: 15px #161221 dashed;
      background-clip: border-box;
      box-shadow: 0 0 10px #121212;
    }
    .background-filter::after {
      -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
      backdrop-filter: blur(5px); /* Supported in Chrome 76 */
    
      content: "";
      display: block;
      position: absolute;
      width: 100%; height: 100%;
    }
    
    .background-filter {
      position: relative;
    }
    
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    
    #peopleshape {
      background-color: #2d3436!important;
      background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%)!important;
      color:white;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    video::-webkit-media-controls {
      display: none;
    }
    
    
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
      background-color: #000000;
      background-image: linear-gradient(147deg, #000000 0%, #544f70 74%);
      color:white;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 50px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }

      .segment .dimmer {
        position:fixed;
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
      }
      .loader {
        position:fixed;
        padding:0;
        margin:0;

        top:0;
        left:0;

        width: 100%;
        height: 100%;
      }
      #btnlogin {
        display: none !important;
      }
      #btnlogout {
        display: none !important;
    }

.a .switcher {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switcher {
  display: block;
  position: fixed;
  text-decoration: none;
  z-index: 999999999999;
  right: 20px;
  bottom: 20px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.15;
  transition: 0.15s;
}
a.switcher:hover {
  opacity: 1;
}
a.switcher:before {
  display: block;
  content: '';
  position: absolute;
  border-radius: 4px;
  width: 2px;
  height: 5px;
  background: #fff;
  top: 0;
  left: 5px;
}
.screen {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.figure {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 200px solid #fff;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 0 solid transparent;
}
.figure:before {
  display: block;
  content: '';
  position: absolute;
  z-index: 99;
  width: 0;
  height: 0;
  top: -194px;
  left: -90px;
  margin: auto;
  border-top: 180px solid #111;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  border-bottom: 0 solid transparent;
}
.figure-mask {
  
  display: block;
  position: absolute;
  z-index: 99;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 200px solid transparent;
  border-right: 100px solid #111;
  border-left: 100px solid #111;
  border-bottom: 0 solid transparent;
}
.clock {
  display: block;
  position: absolute;
  z-index: 9;
  width: 720px;
  height: 128px;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: default;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #111;
  color: #fff;
  
}
.clock span {
  display: block;
  position: relative;
  font-size: 128px;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: #111;
  color: #fff;
}
.clock.is-off {
  animation-name:is-off;
  -webkit-animation:2s linear infinite !important;
          animation: 2s linear infinite !important;
}
.glitch:before {
  position: absolute;
  z-index: 999999;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation-name:bg-move;
  -webkit-animation: 2s linear infinite;
          animation: 2s linear infinite;
  background-size: 100% 8px;
  background-image: linear-gradient(0, rgba(255,255,255,0.05) 10%, transparent 10%, transparent 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 60%, transparent 60%, transparent);
}
.glitch .figure,
.glitch .figure-mask {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
          animation-name:tr-bag;
  -webkit-animation: 4s linear infinite;
          animation: 4s linear infinite;
}
.glitch .clock {
  -webkit-transform: skewX(0deg) scaleY(1);
          transform: skewX(0deg) scaleY(1);
          animation-name:clock-bag;
  -webkit-animation: 4s linear infinite;
          animation: 4s linear infinite;
}
.glitch .clock span:before,
.glitch .clock span:after {
  display: block;
  content: attr(data-time);
  position: absolute;
  top: 0;
  color: #fff;
  background: #111;
  overflow: hidden;
  width: 720px;
  height: 128px;
  clip: rect(0, 900px, 0, 0);
}
.glitch .clock span:before {
  left: -2px;
  text-shadow: 2px 0 #00f;
  animation-name: c2;
  animation: 1s infinite linear alternate-reverse;
}
.glitch .clock span:after {
  left: 3px;
  text-shadow: -2px 0 #f00;
  animation-name: c1;
  animation: 2s infinite linear alternate-reverse;

}
@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes is-off {
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-webkit-keyframes c1 {
  5% {
    clip: rect(80px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(32px, 9999px, 86px, 0);
  }
  15.000000000000002% {
    clip: rect(19px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(95px, 9999px, 51px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 33px, 0);
  }
  30.000000000000004% {
    clip: rect(92px, 9999px, 17px, 0);
  }
  35.00000000000001% {
    clip: rect(42px, 9999px, 61px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(71px, 9999px, 53px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 62px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 89px, 0);
  }
  60.00000000000001% {
    clip: rect(37px, 9999px, 81px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 64px, 0);
  }
  70.00000000000001% {
    clip: rect(2px, 9999px, 59px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 74px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 25px, 0);
  }
  90% {
    clip: rect(28px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 61px, 0);
  }
  100% {
    clip: rect(1px, 9999px, 88px, 0);
  }
}
@keyframes c1 {
  0% {
    clip: rect(14px, 9999px, 38px, 0);
  }
  5% {
    clip: rect(80px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(32px, 9999px, 86px, 0);
  }
  15.000000000000002% {
    clip: rect(19px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(95px, 9999px, 51px, 0);
  }
  25% {
    clip: rect(100px, 9999px, 33px, 0);
  }
  30.000000000000004% {
    clip: rect(92px, 9999px, 17px, 0);
  }
  35.00000000000001% {
    clip: rect(42px, 9999px, 61px, 0);
  }
  40% {
    clip: rect(66px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(71px, 9999px, 53px, 0);
  }
  50% {
    clip: rect(61px, 9999px, 62px, 0);
  }
  55% {
    clip: rect(14px, 9999px, 89px, 0);
  }
  60.00000000000001% {
    clip: rect(37px, 9999px, 81px, 0);
  }
  65% {
    clip: rect(34px, 9999px, 64px, 0);
  }
  70.00000000000001% {
    clip: rect(2px, 9999px, 59px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 55px, 0);
  }
  80% {
    clip: rect(59px, 9999px, 74px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 25px, 0);
  }
  90% {
    clip: rect(28px, 9999px, 8px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 61px, 0);
  }
  100% {
    clip: rect(1px, 9999px, 88px, 0);
  }
}
@-webkit-keyframes c2 {
  0% {
    clip: rect(15px, 9999px, 82px, 0);
  }
  5% {
    clip: rect(54px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(90px, 9999px, 68px, 0);
  }
  15.000000000000002% {
    clip: rect(86px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(96px, 9999px, 52px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 94px, 0);
  }
  30.000000000000004% {
    clip: rect(15px, 9999px, 4px, 0);
  }
  35.00000000000001% {
    clip: rect(4px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(99px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 9px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 11px, 0);
  }
  60.00000000000001% {
    clip: rect(9px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(50px, 9999px, 65px, 0);
  }
  70.00000000000001% {
    clip: rect(34px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(72px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 60px, 0);
  }
  85% {
    clip: rect(87px, 9999px, 97px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 62px, 0);
  }
  95% {
    clip: rect(96px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(3px, 9999px, 63px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@keyframes c2 {
  0% {
    clip: rect(15px, 9999px, 82px, 0);
  }
  5% {
    clip: rect(54px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(90px, 9999px, 68px, 0);
  }
  15.000000000000002% {
    clip: rect(86px, 9999px, 70px, 0);
  }
  20% {
    clip: rect(96px, 9999px, 52px, 0);
  }
  25% {
    clip: rect(45px, 9999px, 94px, 0);
  }
  30.000000000000004% {
    clip: rect(15px, 9999px, 4px, 0);
  }
  35.00000000000001% {
    clip: rect(4px, 9999px, 90px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(99px, 9999px, 21px, 0);
  }
  50% {
    clip: rect(72px, 9999px, 9px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 11px, 0);
  }
  60.00000000000001% {
    clip: rect(9px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(50px, 9999px, 65px, 0);
  }
  70.00000000000001% {
    clip: rect(34px, 9999px, 39px, 0);
  }
  75% {
    clip: rect(72px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 60px, 0);
  }
  85% {
    clip: rect(87px, 9999px, 97px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 62px, 0);
  }
  95% {
    clip: rect(96px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(3px, 9999px, 63px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@-webkit-keyframes clock-bag {
  0% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  2% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  4% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  6% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  8% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  12% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  16% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  18% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  20% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  22% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  24% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  26% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  28.000000000000004% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  30% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  32% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  34% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  36% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  42% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  44% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  48% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  50% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  52% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  54% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  58% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  60% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  62% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  64% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  66% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  68% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  72% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  74% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  80% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  84% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  86% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  88% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  90% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  96% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  98% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes clock-bag {
  0% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  2% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  4% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  6% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  8% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  10% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  12% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  16% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  18% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  20% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  22% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  24% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  26% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  28.000000000000004% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  30% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  32% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  34% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  36% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  42% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  44% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  48% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  50% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  52% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  54% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  58% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  60% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  62% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  64% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  66% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  68% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  72% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  74% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  80% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  84% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  86% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  88% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  90% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  96% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  98% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  100% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes tr-bag {
  0% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  2% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  4% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  6% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  8% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  10% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  12% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  14.000000000000002% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  16% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  18% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  20% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  22% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  24% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  26% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  28.000000000000004% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  30% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  32% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  34% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  42% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  44% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  48% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  50% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  52% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  54% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  56.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  58% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  60% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  62% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  64% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  66% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  68% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  72% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  74% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  76% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  78% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  84% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  86% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  88% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  90% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  94% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  96% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  98% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  2% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  4% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  6% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  8% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  10% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  12% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  14.000000000000002% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  16% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  18% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  20% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  22% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  24% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  26% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  28.000000000000004% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  30% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  32% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  34% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  36% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  42% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  44% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  46.00000000000001% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  48% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  50% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  52% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  54% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  56.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  58% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  60% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  62% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  64% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  66% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  68% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  70.00000000000001% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  72% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  74% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  76% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  78% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  80% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  82.00000000000001% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  84% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  86% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  88% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  90% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  92.00000000000001% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  94% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  96% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  98% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  100% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}